<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:clientId" value="ded3d242-3881-40af-9608-cba73649f9eb"/>
    <add key="ida:audience" value="https://tabsteamoutlook.onmicrosoft.com/TestAppClientWeb"/>
    <add key="ida:aadInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="ida:appKey" value="0kc2e7E4uXDPRJ7ZTSL9p3ClFKOTGgMQYKJkafzExbg="/>
    <add key="ida:tenant" value="tabsteamoutlook.onmicrosoft.com"/>
    <add key="ida:serviceResourceId" value="http://tabsteamoutlook.onmicrosoft.com/TestApp"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
